body {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.jumbotron {
    padding-top: 20px;
}

.header {
    padding-bottom: 20px;
}
